{% load static  %}
{%load order_tags%}
<div class="small-container cart-page">
    {%if cart.cart.all %}
    <table>
        <tbody><tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {%for obj in cart.cart.all%}
        <tr>
            <td>
                <div class="cart-info">
                    <img src={{obj.IPhoneVariant.image.url}}>
                    <div>
                        <p>{{obj.IPhoneVariant}}</p>
                        <small>{{obj.IPhoneVariant.price}}</small>
                        <br>
                        <form method="POST" action ={% url "removeproduct"%} enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type = "hidden" name="product_id" value={{obj.product.id}}>
                            <input type = "hidden" name="obj_id" value={{obj.id}}>
                            <button type="submit" class="btn">Remove</button>
                        </form>
                    </div>
                </div>
            </td>
            <td><input type="text" value="{{obj.quantity}}" readonly></td>
            <td id="" value="">{%multiply obj.IPhoneVariant.price obj.quantity%}</td>
        </tr>
        {%endfor%}
  
    </tbody></table>
    <div class="total-price">
        <table>
            <tbody><tr>
                <td>{%getSubTotal cart as Subtotal%}</td>
            </tr>
            <tr>
                <td>GST</td>
                <td>{%tax Subtotal as tax%}{{tax}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{%getTotal Subtotal tax as total%}{{total}}</td>
            </tr>
        </tbody></table>
        
    </div>
    <form method="POST" action ={% url "confirmorder"%} enctype="multipart/form-data">
        {% csrf_token %}
        <input type = "hidden" name="cart" value={{cart}}>
        <input type="hidden" name = "total" value = {{total}}>
        {%if verified%}
        <button type="submit" class="btn btn-success btn-lg w-30 float-end">Proceed</button>
        {%else%}
        <a href={% url "verify" %} style="background-color: green; color: white;width:30%;float:right" class="btn ">Verify to Procceed</a>
        {%endif%}
    </form> 
    {%else%}
    <div>Cart is empty</div>
    {%endif%}
</div>