<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h1>Redirecting,Don't Refresh</h1>

    {% if razorpay_key_id and order_id %}
    <script>
        var options = {
            "key": "{{ razorpay_key_id }}",
            "amount": "{{ amount }}", // Amount in paise
            "currency": "INR",
            "name": "Your Store",
            "description": "Test Transaction",
            "order_id": "{{ order_id }}", // Order ID from Razorpay
            "handler": function (response) {
                // Send response data to backend for verification
                console.log(response)
                fetch('/order/payment-success/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify(response)
                }).then(res => res.json())
                .then(data => alert(data.message)).then(
                    window.location.href="/order/checkout"
                )
                ;
            },
            "prefill": {
                "name": "John Doe",
                "email": "john.doe@example.com",
                "contact": "9999999999"
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    </script>
    {% endif %}
</body>
</html>
