{% load static %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2">
                <div class="form-container">
                    {%if messages%}
                        {%for message in messages%}
                         <p>{{message}}</p>
                         {% endfor %}
                    {%endif%}
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" action="account" method="POST">
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="email">
                        <input type="password" name=password placeholder="Password">
                        <button type="submit" name = "login" class="btn">Login</button>
                        <a href={%url "reset"%}>Forget Password</a>
                    </form>

                    <form id="RegForm" action="account" method="POST">
                        {% csrf_token %}
                        <input type="text" name = "username"placeholder="Username" required maxlength=10> 
                        <input type="email" name = "email"placeholder="Email" required>
                        <input type="phone" name="phone" placeholder= "Phone" required>
                        <input type="password" name="password" placeholder="Password" minlength=6>
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 