{%load static %}
<section id="home" class="main">
    {% comment %} <div class="overlay"></div> {% endcomment %}
   <div class="container">
       <div class="row">
              <div class="wow fadeInUp col-md-6 col-sm-6 col-xs-12 mobile-image-container animated" data-wow-delay="0.2s">
                   <div class="image-wrapper">
                       <img src={% static "images/iphone16.png"%} class="img-responsive" alt="Home">
                   </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                   <div class="home-thumb">
                        <h1 class="wow fadeInUp animated" data-wow-delay="0.6s">App Starter Page</h1>
                        <p class="wow fadeInUp animated" data-wow-delay="0.8s">The optimal way to present your beautiful mobile app for your startup team. Let us create amazing things!</p>
                        <a href="#pricing" class="wow fadeInUp section-btn btn btn-success smoothScroll animated" data-wow-delay="1s">Download App</a>
                   </div>
              </div>
       </div>
   </div>
</section>