    {% load static %}
 {% load custom_tags %}
    <!-- Feadtued Categories -->

    <div class = "services">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src={% static "images/services/freedelivery.png" %}>
                </div>
                <div class="col-3">
                    <img src={% static "images/services/support.png" %}>
                </div>
                <div class="col-3">
                    <img src={% static "images/services/warranty.png" %}>
                </div>
            </div>
        </div>
    </div>

    <div class="categories">
        <div class="small-container">
            <div class="text-center mb-4">
                <h3 class="custom-heading">Shop by Series</h3>
                <div class="heading-underline"></div>
            </div>
            <div class="row">
                <div class="col-5" >
                    <a href={% url "productbyseries" "iPhone 16 series" %}>
                    <img src={% static "images/series/16.png" %} width="200px" >
                </a>
                </div>
                <div class="col-5">
                    <a href={% url "productbyseries" "Apple" %}>

                    <img src={% static "images/series/15.png"%}></a>
                </div>
                <div class="col-5">
                    <a href={% url "productbyseries" "Google" %}>

                    <img src={% static "images/series/14.png"%}></a>
                </div>
                <div class="col-5">
                    <a href={% url "productbyseries" "Vivo" %}>

                    <img src={% static "images/series/13.png"%}></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <div class="text-center mb-4">
            <h3 class="custom-heading">Featured Products</h3>
            <div class="heading-underline"></div>
        </div>        <div class="row">
            {% get_featured_products 4 as featured_products%}
            {% for product in featured_products%}
            <div class="col-4">
                <a href={% url "productdetails" product.id%}><img src= {{product.image.url}}></a>
                <h4>{{product.brand}} {{product.title}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>{{product.price}}</p>
            </div>
            {%endfor%}

            
        </div>
        <div class="text-center mb-4">
            <h3 class="custom-heading">Latest Products</h3>
            <div class="heading-underline"></div>
        </div>        <div class="row">
            {%get_latest_products 4 as latest_products%}
            {% for product in latest_products%}
            <div class="col-4"  >
                <a href={% url "productdetails" product.id%}><img src= {{product.image.url}}></a>
                <h4>{{product.brand}} {{product.title}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{product.price}}</p>
            </div>
            {%endfor%}
            
        </div>
    </div>




