{% extends "blank_layout.html" %}

{% load static %}
{% block content%}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2">
                <div class="form-container">
                    {%if messages%}
                        {%for message in messages%}
                         <p>{{message}}</p>
                         {% endfor %}
                    {%endif%}
                    
                    <div class="form-btn">
                        Enter OTP
                        <hr id="">
                    </div>
                    <form id="" action="verifyotp" method="POST">
                        {% csrf_token %}
                        <input type="text" name="otp" placeholder="Enter your OTP">
                        <button type="submit" name = "" class="btn">Verify</button>
                        <a href="{% url 'reset'%}" >Resend OTP</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}