{% extends "blank_layout.html" %}

{% load static %}
{% block content%}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2">
                <div class="form-container">
                    {%if messages%}
                        {%for message in messages%}
                         <p>{{message}}</p>
                         {% endfor %}
                    {%endif%}
                    
                    <div class="form-btn">
                        Password Reset
                        <hr id="">
                    </div>
                    <form id="" action="forgotpassword" method="POST">
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="Enter registered Mail id.">
                        <button type="submit" name = "" class="btn">Send Code</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}