{% load static %}
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/applealley.png' %}" alt="logo" width="200px">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          {% if request.user.is_authenticated %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
              <li><a class="dropdown-item" href="{% url 'cart' %}">Cart</a></li>

 
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account' %}">Login</a>
          </li>

          {% endif %}
          {% comment %} <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> {% endcomment %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-area" id="searchInput" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div id="results" class="results"></div>
       
      </div>
      
    </div>
    
  </nav>
  {% block script%}
  <script>
  const searchInput = document.getElementById("searchInput");
  const results = document.getElementById("results");
  const search = document.getElementById("search"); 
  
  searchInput.addEventListener("keyup", () => {
      const query = searchInput.value;
      if (query.length > 0) {
          results.style.display = "block";
      } else {
          results.style.display = "none";
      }
  
      fetch(`/search/?query=${query}`)
          .then(response => response.json())
          .then(data => {
              results.innerHTML = "";   
              data.results.forEach(result => {
                  const link = document.createElement("a");
                  link.setAttribute("class", "search-result");
                  link.setAttribute("href",`/product/${result.id}`)
                  link.textContent = result.title;
                  results.appendChild(link);
              });
          })
          .catch(error => console.log("error", error));
  });
  
  // Hide results when clicking outside of the search area
  document.addEventListener("click", function(event) {
      if (!search.contains(event.target)) { 
          results.style.display = 'none';
      }
  });
</script>
  {% endblock script%}